@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  height: 100%;
}

.gradient-background {
  background-image: linear-gradient(to bottom right, #ff8f70, #ff3d54);
  border-radius: 0 0 0 90px;
}
.gradient-background #menu-box {
  display: none;
  transition: 2s;
}
.gradient-background .menu-box {
  margin: auto;
  position: absolute;
  width: 100%;
  min-height: 300px;
  top: 120px;
  font-family: Overpass;
  font-weight: 600;
  color: #1f3f5b;
  font-size: 18px;
}
.gradient-background .menu-box .menu-small-box {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  border-radius: 5px;
  padding: 18px;
  box-shadow: 0 0 1em #6e6e6e;
}
.gradient-background .menu-box .menu-cathegory {
  margin-top: 25px;
  margin-bottom: 20px;
  cursor: pointer;
}
.gradient-background .menu-box .menu-cathegory img {
  margin-left: 5px;
}
.gradient-background .menu-box .subcathergory-box {
  background-color: rgba(200, 200, 203, 0.35);
  margin-top: 15px;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
}
.gradient-background .menu-box .subcathergory-box .subcathegory {
  margin: 20px;
  opacity: 70%;
}
.gradient-background .menu-box #subcathergory-box-1, .gradient-background .menu-box #subcathergory-box-2, .gradient-background .menu-box #subcathergory-box-3 {
  display: none;
}
.gradient-background .menu-box .separator-line {
  border: 1px solid #c8c8cb;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 50%;
}
.gradient-background .menu-box .login {
  margin-top: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}
.gradient-background .menu-box .button-sign-up {
  background-image: linear-gradient(to right, #ff8f70, #ff3d54);
  border-radius: 30px;
  padding: 15px 10px;
  margin-right: 70px;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Ubuntu;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.gradient-background .box-1 {
  background-image: url(/images/bg-pattern-intro.svg);
  background-size: 350%;
  background-repeat: no-repeat;
  background-position: 37% 34%;
  border-radius: 0 0 0 90px;
}
.gradient-background .box-1 .main-header {
  padding-top: 40px;
}
.gradient-background .box-1 .main-header #icon-ham {
  cursor: pointer;
}
.gradient-background .box-1 .logo {
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
}
.gradient-background .box-1 .logo .upper-logo {
  width: 50%;
}
.gradient-background .box-1 .logo .hamburger-icon {
  width: 50%;
  text-align: right;
  margin: auto;
}
.gradient-background .box-1 .box-2 {
  font-family: Overpass;
  text-align: center;
  color: white;
  padding: 120px 40px 40px 40px;
}
.gradient-background .box-1 .box-2 .text-header {
  margin: 0;
  margin-bottom: 15px;
  font-size: 32px;
}
.gradient-background .box-1 .box-2 .sub-text {
  font-weight: 400;
  padding: 0 10px;
  font-size: 16px;
}
.gradient-background .box-1 .box-2 .buttons-box {
  margin-top: 50px;
  margin-bottom: 100px;
}
.gradient-background .box-1 .box-2 .buttons-box .buttons {
  width: 40%;
  border: 1px solid white;
  padding: 12px 16px;
  border-radius: 30px;
  font-weight: 600;
  font-family: Ubuntu;
  font-size: 16px;
}
.gradient-background .box-1 .box-2 .buttons-box .button-left {
  background-color: white;
  color: #ff525d;
  margin-right: 10px;
}
.gradient-background .box-1 .box-2 .buttons-box .button-left:hover {
  background-color: #ff7a85;
  color: white;
  cursor: pointer;
  border: 1px solid #ff7a85;
  transition: background-color 0.7s, color 0.7s, border 0.7s;
}
.gradient-background .box-1 .box-2 .buttons-box .button-right:hover {
  background-color: white;
  color: #ff525d;
  cursor: pointer;
  border: 1px solid #ff7a85;
  transition: background-color 0.7s, color 0.7s, border 0.7s;
}

.box-3 {
  text-align: center;
  margin: 0px;
  color: #25252d;
  font-family: Ubuntu;
}
.box-3 .box-3-section {
  margin-top: 100px;
}
.box-3 .editor-img {
  max-width: 100%;
}
.box-3 .box3-header {
  margin-bottom: 40px;
  font-weight: 400;
}

.box-3-section-2 {
  margin: 48px;
}
.box-3-section-2 .box3-header {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.box-3-section-2 .box3-text {
  font-family: Overpass;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: #4b5862;
}

.relative-box {
  min-height: 200px;
  margin-top: 50px;
}

.box-4 {
  position: relative;
}
.box-4 .dark-box-round {
  background-image: linear-gradient(to bottom right, #2c2d3f, #3f4164);
}
.box-4 .telephone-img {
  width: 100%;
  position: absolute;
  top: 5%;
}
.box-4 .dark-box-round {
  border-radius: 0 90px 0 90px;
  min-height: 560px;
}
.box-4 .circle-img {
  background-image: url("../images/bg-pattern-circles.svg");
  background-size: 160%;
  background-position: 50% -270px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 0 90px 0 90px;
  min-height: 560px;
}
.box-4 .box-3-section-2 {
  margin-top: 20px;
}
.box-4 .box3-text, .box-4 .box3-header {
  text-align: center;
  color: #c8c8cb;
}
.box-4 .box3-header {
  font-family: Overpass;
  font-size: 32px;
  color: white;
  padding-top: 70%;
}

#box-4-ilust {
  margin-top: 0px;
}

.laptop-img {
  max-width: 100%;
  text-align: center;
  margin-top: 50px;
}

.footer-background {
  background-color: #25252d;
  border-radius: 0 90px 0 0;
  text-align: center;
  padding-bottom: 60px;
  color: white;
  font-size: 14px;
}
.footer-background .footer-section {
  margin-top: 50px;
}
.footer-background .footer-section h2 {
  font-size: 15px;
  margin-bottom: 25px;
}
.footer-background .footer-section h3 {
  font-weight: 400;
  color: #c8c8cb;
  margin: 10px;
  cursor: pointer;
}
.footer-background img {
  margin: 50px;
}

.attribution {
  display: none;
}