@use './variables' as vars;

@mixin desktop-menu() {
 
    .gradient-background{
    #menu-box{
        display: flex;
        width: 70%;
        text-align: right;
        position: absolute;
        top: 0%;
        right: 10%;
        display: block;

        .menu-small-box{
            display: inline;
            box-shadow: none;
            background-color: transparent;
            color: map-get($map: vars.$Neutral-colors, $key: "text" );
            width: 100%;
            display: flex;
            padding-top: 25px;
            max-height: 70px;


            .separator-line{
                display: none;
            }

            .menu-cathegory{
                min-width: 130px;

                #light1, #light2, #light3{
                    display: inline;
                }
                #dark1, #dark2, #dark3{
                    display: none;
                }

                .subcathergory-box{
                    background-color: map-get($map: vars.$Neutral-colors, $key: "text" );
                    color: map-get($map: vars.$Neutral-colors, $key: "footer-background");
                    text-align: left;

                    .subcathegory{    
                        font-weight: map-get($map: vars.$weighs, $key: "regular");
                    }

                    .subcathegory:hover{
                        font-weight: map-get($map: vars.$weighs, $key: "bold");
                    }
                }
            }

            .menu-cathegory:hover{
                text-decoration: underline;
            }

            .login-sign-space{
                width: 40%;
                display: flex;
                margin-left: 30%;

                .login{
                    width: 40%;
                    margin-top: 25px;
                }

                .button-sign-up{
                    width: 40%;
                    max-height: 15px;
                    background-image: none;
                    background-color: map-get($map: vars.$Neutral-colors, $key: "text" );
                    color: map-get($map: vars.$Primary-colors, $key: "CTA-text" );
                    margin: 0;
                    margin-top: 10px;
                    padding: 1rem;
                }

                .button-sign-up:hover{
                    color: map-get($map: vars.$Neutral-colors, $key: "text" );
                    background-color: map-get($map: vars.$Primary-colors, $key: "CTA-hover-background" );
                    transition: background-color 0.7s, color  0.7s;

                }
            }
        }
    }

    .box-1{
        .main-header{
            .logo{
                width: 30;
            }
        }
    }
    }

}