@use './variables' as vars;

@mixin desktopView() {
    
    .gradient-background{
        background-image: linear-gradient(to right, map-get($map: vars.$Gradient, $key: "gradient-light-red"), map-get($map: vars.$Gradient, $key: "gradient-red"));

        .box-1{
            background-image: url("../images/bg-pattern-intro.svg");
            background-size: 210%;
            background-position: 23% 52%;

            .logo{
                margin-left: 12%;
                margin-right: 12%;

                #icon-ham{
                    display: none;
                }
            }

            .box-2{
                .text-header{
                    font-size: 60px;
                }

                .sub-text{
                    font-size: 20px;
                }
            }
        }

    }


    .box3-header-extra{
        text-align: center;
        font-weight: map-get($map: vars.$weighs, $key: "semi-bold");
        font-family: map-get($map: vars.$fonts, $key: 'header-font' );
        color: map-get($map: vars.$Primary-colors, $key: 'headings' );
        font-size: 30px;
        padding-top: 100px;

    }

    .box-3{
        display: flex;

        .box-3-section{
            width:  55%;
            margin: 0;

            .box3-header{
                font-size: 35px;
                margin-left: 0;
            }
            
        }

        .section-container-desktop{
            width: 45%;
            text-align: left;
            margin-left: 100px;
            margin-right: 100px;
            margin-top: 40px;


            .box3-header{
                margin-left: 0;
            }
        }
    }
    

    .box-4{

        .relative-box{
            min-height: 100px;
            margin-top:0;
        }

        .telephone-img{
            width: auto;
            top: 11%;
            left: 9%;
        }


        .dark-box-round{
            min-height: 400px;
            max-height: 400px;

            .circle-img{
                background-size: 1200px;
                max-height: 400px;
                min-height: 400px;
                background-position: -100% 82%;

                .box-3-section-2{
                    width: 50%;
                    margin-left: 45%;
                    


                    .box3-header, .box3-text{
                        text-align: left;
                        margin-left: 0;
                        padding: 0 70px;
                        padding-right: 130px;
                        font-size: 16px;
                    }

                    .box3-header{
                        font-size: 36px;
                        padding-top: 18%;
                    }

                }
            }

            .box-3-section-2{
                .box3-header{
                    padding: 0;
                }
            }
        }
    }


    footer{
        display: grid;
        .footer-background{
            display: flex;

            img{
                height: 40px;
                margin-left: 10%;
                margin-right: 10%;
            }

            .footer-section{
                width: 20%;
                text-align: left;

                h3{
                    margin-left: 0;
                }
            }

            
        }
    }
    

    #mobile{
        display: none;
    }
    
    #desktop{
        display: inline;
        
        img{
            width: 100%;
            
        }
    }

#second{
    margin-top: 10%;
    margin-bottom: 10%;

    img{
        width: 50%;
        margin: 0;
        position: relative;
    }

    .duo-section{
        text-align: left;
        padding-right: 14%;
        margin: auto;
        width: 50%;
        
        .box3-header{
            margin-left: 0;
        }
    }
}

}

