@use './variables' as vars;

@mixin desktopView() {
    
    .gradient-background{
        background-image: linear-gradient(to right, map-get($map: vars.$Gradient, $key: "gradient-light-red"), map-get($map: vars.$Gradient, $key: "gradient-red"));

        .box-1{
            background-size: 210%;
            background-position: 23% 52%;

            .logo{
                margin-left: 12%;
                margin-right: 12%;

                #icon-ham{
                    display: none;
                }
            }

            .box-2{
                .text-header{
                    font-size: 60px;
                }

                .sub-text{
                    font-size: 20px;
                }
            }
        }

    }

}