$Widths: (
    "mobile": 375px,
    "desktop": 1440px,
);

$Primary-colors: (
    "CTA-text": hsl(356, 100%, 66%),
    "CTA-hover-background": hsl(355, 100%, 74%),
    "headings": hsl(208, 49%, 24%),
);

$Neutral-colors: (
    "text": hsl(0, 0%, 100%),
    "footer-text": hsl(240, 2%, 79%),
    "body-copy": hsl(207, 13%, 34%),
    "footer-background": hsl(240, 10%, 16%),
);

$Gradient: (
    "gradient-light-red": hsl(13, 100%, 72%),
    "gradient-red": hsl(353, 100%, 62%),
    "gradient-body": hsl(237, 17%, 21%),
    "gradient-body-light": hsl(237, 23%, 32%)
);

$Body-Copy: 16px;

//Fonts
@font-face {
    font-family: "Overpass", sans-serif;
    src: url("Overpass.woff2") format("woff2");
}

@font-face {
    font-family: "Ubuntu", sans-serif;
    src: url("Ubuntu.woff2") format("woff2");
}

$fonts: (
    "header-font": "Overpass",
    "main-font": "Ubuntu",
);

$weighs: (
    "light": 300,
    "regular": 400,
    "semi-bold": 600,
    "bold": 700,
);
