@use './variables' as vars;
@use './section-2' as sec-2;

html{
    box-sizing: border-box;
}

body{
    font-size: vars.$Body-Copy;
    margin: 0;
    padding: 0;
    font-family: map-get($map: vars.$fonts, $key: 'main-font' );
    height: 100%;
}

.gradient-background{

    background-image: linear-gradient(to bottom right, map-get($map: vars.$Gradient, $key: "gradient-light-red"), map-get($map: vars.$Gradient, $key: "gradient-red"));
    border-radius: 0 0 0 90px;

    .menu-box{
        margin: auto;
        position: relative;

        .menu-small-box{
            background-color: white;
            margin-left: 30px;
            margin-right: 30px;
            text-align: center;
            border-radius: 5px;
        }
    }




    .box-1{
        background-image: url(/images/bg-pattern-intro.svg);
        background-size: 350%;
        background-repeat: no-repeat;
        background-position: 37% 34%;
        border-radius: 0 0 0 90px;
        

        .main-header{
            padding-top: 40px;
        }
    
        .logo{
            margin-right: 30px;
            margin-left: 30px;
            display: flex;

            .upper-logo{
               width: 50%;
            }

            .hamburger-icon{
                width: 50%;
                text-align: right;
                margin: auto;
            }
        }


        .box-2{
            font-family: map-get($map: vars.$fonts, $key: 'header-font' );
            text-align: center;
            color: map-get($map: vars.$Neutral-colors, $key: 'text' );
            padding: 120px 40px 40px 40px;

            .text-header{
                margin: 0;
                margin-bottom: 15px;
                font-size: 32px;
            }

            .sub-text{
                font-weight: map-get($map: vars.$weighs, $key: 'regular');
                padding: 0 10px;
                font-size: 16px;
            }

            .buttons-box{
                margin-top: 50px;
                margin-bottom: 100px;


                .buttons{
                    width: 40%;
                    border: 1px solid map-get($map: vars.$Neutral-colors, $key: 'text' );
                    padding: 12px 16px;
                    border-radius: 30px;
                    font-weight: map-get($map: vars.$weighs, $key: 'semi-bold');
                    font-family: map-get($map: vars.$fonts, $key: 'main-font' );
                    font-size: 16px;
                }

                .button-left{
                    background-color: map-get($map: vars.$Neutral-colors, $key: 'text' );
                    color: map-get($map: vars.$Primary-colors, $key: 'CTA-text' );
                    margin-right: 10px;
                }

                .button-left:hover{
                    background-color: map-get($map: vars.$Primary-colors, $key: 'CTA-hover-background' );
                    color: map-get($map: vars.$Neutral-colors, $key: 'text' );
                    cursor: pointer;
                    border: 1px solid map-get($map: vars.$Primary-colors, $key: 'CTA-hover-background' );
                    transition: background-color 0.7s, color 0.7s, border 0.7s;
                }

                .button-right:hover{
                    background-color: map-get($map: vars.$Neutral-colors, $key: 'text' );
                    color: map-get($map: vars.$Primary-colors, $key: 'CTA-text' );
                    cursor: pointer;
                    border: 1px solid map-get($map: vars.$Primary-colors, $key: 'CTA-hover-background' );
                    transition: background-color 0.7s, color 0.7s, border 0.7s;
                }
            }




        }
    }



}

.box-3{
    text-align: center;
    margin: 0px;
    @include sec-2.section-2;

    .box-3-section{
        margin-top: 100px;
    }

    .editor-img{
        max-width: 100%;
    }

    .box3-header{
        margin-bottom: 40px;
        font-weight: map-get($map: vars.$weighs, $key: "regular");
    }

}

.box-3-section-2{
    margin: 48px;

    .box3-header{
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 25px;
    }
    
    .box3-text{
        @include sec-2.section-text;
    }
}






.relative-box{
    min-height: 200px;
    margin-top: 50px;
}

.box-4{
    position: relative;
    .dark-box-round{
        background-image: linear-gradient(to bottom right, map-get($map: vars.$Gradient, $key: "gradient-body"), map-get($map: vars.$Gradient, $key: "gradient-body-light"));
    }

    .telephone-img{
        width: 100%;
        position: absolute;
        top: 5%;
        }

    .dark-box-round{
        border-radius: 0 90px 0 90px;
        min-height: 560px;
    }

    .circle-img{
        background-image: url("../images/bg-pattern-circles.svg");
        background-size: 160%;
        background-position: 50% -270px;
        width: 100%;
        background-repeat: no-repeat;
        border-radius: 0 90px 0 90px;
        min-height: 560px;
    }

    .box-3-section-2{
        margin-top: 20px;
    }


    .box3-text, .box3-header{
        text-align: center;
        color: map-get($map: vars.$Neutral-colors, $key: "footer-text" );
    }

    .box3-header{
        font-family: map-get($map: vars.$fonts, $key: 'header-font' );
        font-size: 32px;
        color: map-get($map: vars.$Neutral-colors, $key: "text" );
        padding-top: 70%;
    }
}

#box-4-ilust{
    margin-top: 0px;
}

.laptop-img{
    max-width: 100%;
    text-align: center;
    margin-top: 50px;
}


.footer-background{
    background-color: map-get($map: vars.$Neutral-colors, $key: "footer-background" );
    border-radius: 0 90px 0 0 ;
    text-align: center;
    padding-bottom: 60px;
    color: map-get($map: vars.$Neutral-colors, $key: "text" );
    font-size: 14px;

    .footer-section{
        margin-top: 50px;

        h2{
            font-size: 15px;
            margin-bottom: 25px;
        }

        h3{
            font-weight: map-get($map: vars.$weighs, $key: "regular" );
            color: map-get($map: vars.$Neutral-colors, $key: "footer-text" );
            margin: 10px;
            cursor: pointer;
        }
    }

    img{
        margin: 50px;
    }
}


.attribution{
    display: none;
}

